In [74]:
for number in range(100):
    print("Diego")

Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego
Diego

In [75]:
for number in range(100):
    print("Diego",end=" ")

Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego Diego

In [76]:
for number in range(100):
    print(number+1," Diego")

1  Diego
2  Diego
3  Diego
4  Diego
5  Diego
6  Diego
7  Diego
8  Diego
9  Diego
10  Diego
11  Diego
12  Diego
13  Diego
14  Diego
15  Diego
16  Diego
17  Diego
18  Diego
19  Diego
20  Diego
21  Diego
22  Diego
23  Diego
24  Diego
25  Diego
26  Diego
27  Diego
28  Diego
29  Diego
30  Diego
31  Diego
32  Diego
33  Diego
34  Diego
35  Diego
36  Diego
37  Diego
38  Diego
39  Diego
40  Diego
41  Diego
42  Diego
43  Diego
44  Diego
45  Diego
46  Diego
47  Diego
48  Diego
49  Diego
50  Diego
51  Diego
52  Diego
53  Diego
54  Diego
55  Diego
56  Diego
57  Diego
58  Diego
59  Diego
60  Diego
61  Diego
62  Diego
63  Diego
64  Diego
65  Diego
66  Diego
67  Diego
68  Diego
69  Diego
70  Diego
71  Diego
72  Diego
73  Diego
74  Diego
75  Diego
76  Diego
77  Diego
78  Diego
79  Diego
80  Diego
81  Diego
82  Diego
83  Diego
84  Diego
85  Diego
86  Diego
87  Diego
88  Diego
89  Diego
90  Diego
91  Diego
92  Diego
93  Diego
94  Diego
95  Diego
96  Diego
97  Diego
98  Diego
99  Diego
100  Diego

In [77]:
for number in range(1,21):
    print(number,"---",number**2)

1 --- 1
2 --- 4
3 --- 9
4 --- 16
5 --- 25
6 --- 36
7 --- 49
8 --- 64
9 --- 81
10 --- 100
11 --- 121
12 --- 144
13 --- 169
14 --- 196
15 --- 225
16 --- 256
17 --- 289
18 --- 324
19 --- 361
20 --- 400

In [73]:
for number in range(8,90,3):
    print(number)

8
11
14
17
20
23
26
29
32
35
38
41
44
47
50
53
56
59
62
65
68
71
74
77
80
83
86
89

In [72]:
for number in range(100,1,-2):
    print(number)

100
98
96
94
92
90
88
86
84
82
80
78
76
74
72
70
68
66
64
62
60
58
56
54
52
50
48
46
44
42
40
38
36
34
32
30
28
26
24
22
20
18
16
14
12
10
8
6
4
2

In [71]:
for number in range(10):
    print("A",end="")
for number in range(7):
    print("B",end="")
for number in range(4):
    print("C",end="")
    print("D",end="")
print("E",end="")
for number in range(6):
    print("F",end="")
print("G",end="")

AAAAAAAAAABBBBBBBCDCDCDCDEFFFFFFG

In [ ]:
fibo=int(input("Desired number of fibonacci numbers "))
nlast=0;
nfirst=1;
for number in range(fibo):
    print(nfirst, end=" ")
    accum=nfirst;
    nfirst=nfirst+nlast
    nlast=accum;

In [15]:
boxheight=int(input("Desired height of box "))
boxwidth=int(input("Desired width of box "))
for a in range(boxheight):
    print("*"*boxwidth)

Desired height of box 5
Desired width of box 10
**********
**********
**********
**********
**********

In [120]:
boxheight=int(input("Desired height of box "))
boxwidth=int(input("Desired width of box "))
print("*"*boxwidth,sep="")
for a in range(boxheight-2):
    print("*"," "*(boxwidth-2),"*",sep="")
print("*"*boxwidth,sep="")

Desired height of box 5
Desired width of box 10
**********
*        *
*        *
*        *
**********

In [29]:
triheight=int(input("Desired height of triangle "))
for a in range(triheight):
    print("*"*(a+1))

Desired height of triangle10
*
**
***
****
*****
******
*******
********
*********
**********

In [31]:
triheight=int(input("Desired height of triangle "))
for a in range(triheight,0,-1):
    print("*"*(a))

Desired height of triangle10
**********
*********
********
*******
******
*****
****
***
**
*

In [79]:
diaheight=int(input("Desired height of diamond"))
midpoint= int((diaheight+1)/2)
asterisks=-1
spaces=int(((diaheight-1)/2)+1)
for a in range(midpoint):
    asterisks=asterisks+2
    spaces=spaces-1
    print(" "*spaces,"*"*asterisks," "*spaces)
for a in range(1,midpoint):
    asterisks=asterisks-2
    spaces=spaces+1
    print(" "*spaces,"*"*asterisks," "*spaces)

Desired height of diamond11
      *
     ***
    *****
   *******
  *********
 ***********
  *********
   *******
    *****
     ***
      *

In [113]:
Aheight=int(input("Desired height of A "));
midpoint= int((Aheight+1)/2)
extspaces=int(Aheight-1)
print(" "*extspaces,"*"," "*extspaces,sep="")
intspaces=-1
for a in range(2,midpoint):
    extspaces=extspaces-1
    intspaces=intspaces+2
    print(" "*extspaces,"*"," "*intspaces,"*"," "*extspaces,sep="")
extspaces=extspaces-1
intspaces=intspaces+2
print(" "*extspaces,"*"*(intspaces+2)," "," "*extspaces,sep="")
for b in range(1,midpoint):
    extspaces=extspaces-1
    intspaces=intspaces+2
    print(" "*extspaces,"*"," "*intspaces,"*"," "*extspaces,sep="")

Desired height of A 7
      *
     * *
    *   *
   *******
  *       *
 *         *
*           *